    #wall .tag-1 {
    display: none;
    }
    .gorgias-loaded #wall #tag-2 {
      display: none;
    }
    div#wall div#tag-3.slick, .wicked{ /*222*/
  display: none;
}
    /* write your override styles here */